<!-- Make this a strongly typed view of type UserDetails-->
@model Robno.Models.Auth.UserDetails

@{

    Layout = null;

}
<!DOCTYPE html>

<html>


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Robno</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>

<body>
    <br /><br /><br />
    <div class="panel panel-default" style="max-width: 400px; margin-left:auto; margin-right: auto">
        <div class="panel-heading">Dobrodošli u Robno.</div>
        <div class="panel-body">
            @Html.ValidationMessage("CredentialError", new { style = "color:red;" })
            @using (Html.BeginForm("DoLogin", "Authentication", FormMethod.Post))

            {
                <div class="form-group">
                    <p>Korisničko ime</p>
                    @Html.TextBoxFor(x => x.UserName, new { @class="form-control"})
                    @Html.ValidationMessageFor(x => x.UserName)
                </div>
                <br />

                <div class="form-group">
                    <p>Lozinka</p>
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                <br />
                <input type="submit" name="BtnSubmit" value="Login" class="btn btn-success"  />

            }

        </div>
    </div>


    
</body>

</html>

