@model Robno.Models.Racun

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<br/>
<div>
    <h4>Racun</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RacunID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RacunID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NacinPlacanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NacinPlacanja.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoslovniPartner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoslovniPartner.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumIzdavanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Napomena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Napomena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZKI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZKI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JIR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JIR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UkupniIznos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UkupniIznos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>

<table>
    <tr>
        <th width="5%"> RBR </th>
        <th width="25%"> ARTIKAL </th>
        <th width="10%"> KOLICINA </th>
        <th width="10%"> TARIFA </th>
        <th width="10%"> CIJENA </th>
        <th width="10%"> POPUST </th>
        <th width="10%"> IZNOS </th>
    </tr>
    @foreach (var item in Model.StavkaRacunas)
    {
        <tr>

            <td>@Html.DisplayFor(modelItem => item.RedniBrojStavke)</td>

            <td>@Html.DisplayFor(modelItem => item.Artikal.Naziv)</td>

            <td>@Html.DisplayFor(modelItem => item.Kolicina)</td>

            <td>@Html.DisplayFor(modelItem => item.Tarifa.Opis)</td>

            <td>@Html.DisplayFor(modelItem => item.ProdajnaCijena)</td>

            <td>@Html.DisplayFor(modelItem => item.Popust)%</td>

            <td>@(item.Kolicina*item.ProdajnaCijena*(1-item.Popust/100))</td>


        </tr>
    }
</table>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RacunID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<p>
    @Html.ActionLink("Print", "PrintDetails", new { id = Model.RacunID })
</p>