@model PagedList.IPagedList<Robno.Models.Racun>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            RacunID
        </th>
        <th>
            Nacin placanja
        </th>
        <th>
            Poslovni partner
        </th>
        <th>
            Datum izdavanja
        </th>
        <th>
            Napomena
        </th>
        <th>
            ZKI
        </th>
        <th>
            JIR
        </th>
        <th>
            Ukupni iznos
        </th>
        <th>
            Status
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RacunID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NacinPlacanja.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoslovniPartner.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumIzdavanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Napomena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZKI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JIR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UkupniIznos) kn
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RacunID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RacunID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RacunID })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))