@model Robno.Models.PrimkaStavkeVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Primka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Primka.PrimkaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primka.PrimkaID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Primka.DatumIzdavanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primka.DatumIzdavanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primka.DatumUnosa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primka.DatumUnosa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primka.ValutaTecaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primka.ValutaTecaj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primka.Valuta.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primka.Valuta.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primka.UkupniIznos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primka.UkupniIznos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primka.Napomena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primka.Napomena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Primka.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primka.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Primka.PoslovniPartner.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primka.PoslovniPartner.Naziv)
        </dd>


    </dl>
</div>

<table>
    <tr>
        <th width="15%"> RBR </th>
        <th width="35%"> ARTIKAL </th>
        <th width="15%"> KOLICINA </th>
        <th width="20%"> NABAVNA CIJENA   </th>
        <th width="15%"> RABAT </th>
    </tr>
    @foreach (var item in Model.Stavke)
    {
        <tr>

            <td>@Html.DisplayFor(modelItem => item.RedniBrojStavke)</td>

            <td>@Html.DisplayFor(modelItem => item.Artikal.Naziv)</td>

            <td>@Html.DisplayFor(modelItem => item.Kolicina)</td>

            <td>@Html.DisplayFor(modelItem => item.NabavnaCijena)</td>

            <td>@Html.DisplayFor(modelItem => item.Rabat)</td>

        </tr>
    }
</table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Primka.PrimkaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
