@model Robno.Models.Primka


@{
    ViewBag.Title = "Details";
}


<h2>Details</h2>
<br />
<div>
    <h4>Primka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrimkaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimkaID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PoslovniPartner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoslovniPartner.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valuta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valuta.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumIzdavanja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumUnosa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumUnosa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValutaTecaj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValutaTecaj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UkupniIznos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UkupniIznos) kn
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Napomena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Napomena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>

<table>
    <tr>
        <th width="15%"> RBR </th>
        <th width="35%"> ARTIKAL </th>
        <th width="15%"> KOLICINA </th>
        <th width="20%"> NABAVNA CIJENA   </th>
        <th width="15%"> RABAT </th>
        <th width="15%"> IZNOS </th>
    </tr>
    @foreach (var item in Model.StavkaPrimkes)
    {
        <tr>

            <td>@Html.DisplayFor(modelItem => item.RedniBrojStavke)</td>

            <td>@Html.DisplayFor(modelItem => item.Artikal.Naziv)</td>

            <td>@Html.DisplayFor(modelItem => item.Kolicina)</td>

            <td>@Html.DisplayFor(modelItem => item.NabavnaCijena)</td>

            <td>@Html.DisplayFor(modelItem => item.Rabat)</td>

            <td>@(item.Kolicina*item.NabavnaCijena*(1-item.Rabat/100))</td>

        </tr>
    }
</table>

<p>
    @Html.ActionLink("Izmjena", "Edit", new { id = Model.PrimkaID }) |
    @Html.ActionLink("Natrag na primke", "Index")
</p>
<p>
    @Html.ActionLink("Print", "PrintDetails", new { id = Model.PrimkaID })
</p>