@model PagedList.IPagedList<Robno.Models.Primka>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nova primka", "../Home/Primka", new { }, new { @class ="btn btn-success"})
</p>
<table class="table">
    <tr>
        <th>
            PrimkaID
        </th>
        <th>
            Poslovni partner
        </th>
        <th>
            Valuza
        </th>
        <th>
            Datum izdavanja
        </th>
        <th>
            Datum unosa
        </th>
        <th>
            Tecaj valute
        </th>
        <th>
            Ukupni iznos
        </th>
        <th>
            Napomena
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrimkaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoslovniPartner.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valuta.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumIzdavanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumUnosa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValutaTecaj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UkupniIznos) kn
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Napomena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Izmjena", "Edit", new { id=item.PrimkaID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Pojedinosti", "Details", new { id=item.PrimkaID }, new { @class = "btn btn-info" })
        </td>
    </tr>
}

</table>

Stranica @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) od @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))