@model IEnumerable<Robno.Models.Primka>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrimkaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoslovniPartner.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valuta.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumIzdavanja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumUnosa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValutaTecaj)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UkupniIznos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Napomena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrimkaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PoslovniPartner.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valuta.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumIzdavanja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumUnosa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValutaTecaj)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UkupniIznos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Napomena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PrimkaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PrimkaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PrimkaID })
        </td>
    </tr>
}

</table>
