@model Robno.Models.Artikal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artikal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArtikalID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtikalID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BarCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DodatnaSifra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DodatnaSifra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tezina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tezina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NabavnaCijena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NabavnaCijena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdajnaCijena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdajnaCijena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kolicina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kolicina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArtikalKlasa.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtikalKlasa.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JedinicaMjere.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JedinicaMjere.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarifa.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarifa.Opis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtikalID }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-primary" })
</p>
