@model Robno.Models.ArtikalViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Artikal</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Artikal.ArtikalID)

        <div class="form-group">
            @Html.LabelFor(model => model.Artikal.Naziv, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Artikal.Naziv)
                @Html.ValidationMessageFor(model => model.Artikal.Naziv)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artikal.Opis, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Artikal.Opis)
                @Html.ValidationMessageFor(model => model.Artikal.Opis)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artikal.BarCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Artikal.BarCode)
                @Html.ValidationMessageFor(model => model.Artikal.BarCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artikal.DodatnaSifra, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Artikal.DodatnaSifra)
                @Html.ValidationMessageFor(model => model.Artikal.DodatnaSifra)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artikal.Tezina, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Artikal.Tezina)
                @Html.ValidationMessageFor(model => model.Artikal.Tezina)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artikal.NabavnaCijena, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Artikal.NabavnaCijena)
                @Html.ValidationMessageFor(model => model.Artikal.NabavnaCijena)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artikal.ProdajnaCijena, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Artikal.ProdajnaCijena)
                @Html.ValidationMessageFor(model => model.Artikal.ProdajnaCijena)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artikal.Kolicina, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Artikal.Kolicina)
                @Html.ValidationMessageFor(model => model.Artikal.Kolicina)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Porezna tarifa</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Artikal.TarifaID, Model.Tarife)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Jedinica Mjere</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Artikal.JedinicaMjereID, Model.JediniceMjere)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Klasa artikla</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Artikal.ArtikalKlasaID, Model.ArtikalKlase)
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
