@model PagedList.IPagedList<Robno.Models.Artikal>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-success" })
</p>
@using (Html.BeginForm("Index", "Artikals", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        
        <th>
            @Html.ActionLink("Naziv", "Index", new { sortOrder = ViewBag.OrderParm, currentFilter = ViewBag.CurrentFilter })    
        </th>
        <th>
            Opis
        </th>
        <th>
            Barcode
        </th>
        <th>
            Dodatna sifra
        </th>
        <th>
            Tezina
        </th>
        <th>
            Nabavna cijena
        </th>
        <th>
            Prodajna cijena
        </th>
        <th>
            Kolicina
        </th>
        <th>
            Klasa artikla
        </th>
        <th>
            Jedinica mjere
        </th>
        <th>
            Porezna tarifa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BarCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DodatnaSifra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tezina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NabavnaCijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdajnaCijena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kolicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArtikalKlasa.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JedinicaMjere.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarifa.Opis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ArtikalID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtikalID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtikalID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>


Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
