@model PagedList.IPagedList<Robno.Models.PoslovniPartner>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "PoslovniPartners", FormMethod.Get))
{
    <p>
        Traži po imenu: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Naziv", "Index", new { sortOrder = ViewBag.NazivSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            ADRESA
        </th>
        <th>
            @Html.ActionLink("Mjesto", "Index", new { sortOrder = ViewBag.MjestoSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            OIB
        </th>
        <th>
            TEL
        </th>
        <th>
            FAX
        </th>
        <th>
            MAIL
        </th>
        <th>
            WWW
        </th>
        <th>
            ZIRO1
        </th>
        <th>
            ZIRO2
        </th>
        <th>
            NAPOMENA
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mjesto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OIB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WWW)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ziro1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ziro2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Napomena)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PoslovniPartnerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PoslovniPartnerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PoslovniPartnerID })
        </td>
    </tr>
}

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))