@model Robno.Models.NacinPlacanja

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NacinPlacanja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kratica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kratica)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NacinPlacanjaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
